/* general classes */

body {
  background-color: hsl(222, 11%, 18%);
  color: rgb(160,160,160);
}

*::selection {
  background: white;
}

.jumbotron {
  background-color: hsl(240, 20%, 25%);
  color: hsl(222, 20%, 65%);
}

.text-center {
  text-align: center;
}

a:hover, a:active {
  text-decoration: none;
  color: rgb(140,140,220);
}

/* header */
#header-links {
  position: relative;
  top: 15px;
}

/* project list */

@media not screen and (max-width: 768px) {
  #portfolio {
    max-width: 70vw;
    margin: 0 auto;
  }
}

.project-entry {
  border-bottom: 1px solid rgba(140, 140, 140, 0.5);
  padding-bottom: 20px;
  padding-top: 20px;
}

.list-inline-item {
  background-color: hsl(222, 20%, 40%);
  border-radius: 5px;
  color: lightgray;
  margin-right: 5px;
  margin-top: 5px;
}

/* footer */
#footer {
  margin-top: 30px;
  margin-bottom: 60px;
}
