/* general classes */

body {
  background-color: hsl(222, 11%, 18%);
  color: rgb(160,160,160);
}

*::selection {
  background: white;
}

.jumbotron {
  background-color: hsl(240, 20%, 25%);
  color: hsl(222, 20%, 65%);
}

.text-center {
  text-align: center;
}

a:hover, a:active {
  text-decoration: none;
  color: rgb(140,140,220);
}

/* project list */
.project-entry {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(140, 140, 140, 0.5);
}

.list-inline-item {
  background-color: hsl(222, 20%, 40%);
  border-radius: 5px;
  color: lightgray;
  margin-right: 5px;
  margin-top: 5px;
}

/* footer */
#footer {
  margin-top: 30px;
  margin-bottom: 60px;
}
