<div class="jumbotron text-center">
  <div class="container">
    <h2>Hello! My name is Trevor and I'm a web developer.</h2>
  </div>
</div>

<div id='portfolio' class='container-fluid'>
  <div class="clearfix project-entry" ng-repeat='project in vm.projects'>

    <div class='col-sm-6'>
      <img class="img-responsive img-thumbnail" src="{{project.imageURL}}" />
    </div>

    <div class='col-sm-6'>
      <h2><a href="{{project.website}}" target="_blank">{{project.title}}</a></h2>
      <small><a href="{{project.github}}" target="_blank">GitHub</a></small>
      <p>{{project.dates}}</p>
      <p>{{project.description}}</p>
      <ul class="list-inline">
        <li class="list-inline-item" ng-repeat='each in project.tech'>
          {{each}}
        </li>
      </ul>
    </div>

  </div>
</div>

<div id='footer' class="container text-center">
  <a ng-repeat="each in vm.social" class="btn btn-social-icon btn-{{each.site}}" href="{{each.link}}" target="_blank"><span class="fa fa-{{each.site}}"></span></a>
</div>
