<div class="jumbotron text-center">
  <div class="container">
    <h2>Hello! My name is Trevor and I'm a web developer.</h2>
  </div>
</div>

<div id='portfolio' class='container-fluid'>
  <div class="clearfix project-entry" ng-repeat='project in pcvm.projects'>
    <div class='col-sm-6'>
      <img class="img-responsive img-thumbnail" src="{{project.imageURL}}" />
    </div>
    <div class='col-sm-6'>
      <a href="{{project.website}}" target="_blank"><h2>{{project.title}}</h2></a>
      <a href="{{project.github}}" target="_blank"><small>GitHub</small></a>
      <p>{{project.dates}}</p>
      <p>{{project.description}}</p>
      <ul class="tech-list">
        <li ng-repeat='each in project.tech'>
          {{each}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div id='footer' class="container text-center">
  <a class="btn btn-social-icon btn-github" href="https://github.com/chinibi" target="_blank"><span class="fa fa-github"></span></a>
  <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/trevorpham" target="_blank"><span class="fa fa-linkedin"></span></a>
</div>
